# Ignore everything by default
*

# Include these directories
!.config/
!.config/**
!plex/
!plex/**

# Exclude secrets and data
crowdsec/data/
crowdsec/*.env
crowdsec/.env

# Include gitignore itself
!.gitignore
