services:
  caddy:
    image: docker.io/library/caddy:2.11-alpine
    container_name: caddy
    networks: [stream-net]
    ports:
      - "11080:80"
      - "11443:443"
      - "11443:443/udp"
    environment:
      - PLEX_DOMAIN=${PLEX_DOMAIN}
      - ACME_EMAIL=${ACME_EMAIL}
    volumes:
      - /srv/quartermaster/plex/config/Caddyfile:/etc/caddy/Caddyfile:ro,Z
      - /srv/quartermaster/plex/data/caddy/data:/data:Z
      - /srv/quartermaster/plex/data/caddy/config:/config:Z
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    read_only: true
    security_opt:
      - no-new-privileges:true

  plex:
    image: docker.io/linuxserver/plex:latest
    container_name: plex
    networks: [stream-net]
    expose:
      - "32400"
    ports:
      - "32400:32400"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - ADVERTISE_IP=${ADVERTISE_IP}
      - TZ=${TZ}
      - ENABLE_VAAPI=true
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /mnt/PLUNDER/Media:/plunder:ro
      - /srv/quartermaster/plex/data/plex/config:/config:Z
      - /srv/quartermaster/plex/data/plex/transcode:/transcode:Z
    security_opt:
      - no-new-privileges:true
      - label:disable
    restart: unless-stopped

networks:
  stream-net:
    driver: bridge
