[Unit]
Description=CrowdSec Log Processor (Agent mode - connects to remote LAPI)
After=network-online.target stream-pod.service traefik.service
Wants=stream-pod.service
Requires=traefik.service

[Container]
ContainerName=crowdsec-agent
Image=docker.io/crowdsecurity/crowdsec:v1.7.4-slim
Pod=stream.pod
EnvironmentFile=/srv/quartermaster/.env/crowdsec-agent.env

Volume=/srv/quartermaster/data/crowdsec-agent/data:/var/lib/crowdsec/data:Z
Volume=/srv/quartermaster/data/crowdsec-agent/config:/etc/crowdsec:Z
Volume=/srv/quartermaster/config/crowdsec-agent/acquis.yaml:/etc/crowdsec/acquis.yaml:ro,Z
Volume=/srv/quartermaster/logs/traefik:/var/log/traefik:ro,z
Volume=/srv/quartermaster/logs/ssh/secure.log:/var/log/secure.log:ro,z
NoNewPrivileges=true

[Install]
WantedBy=default.target
