[Unit]
Description=Plex Media Server
After=network-online.target stream-pod.service
Wants=stream-pod.service

[Container]
ContainerName=plex
Image=docker.io/linuxserver/plex:latest
Pod=stream.pod

EnvironmentFile=/srv/quartermaster/plex/plex.env
Environment=ENABLE_VAAPI=true

Volume=/mnt/PLUNDER/Media:/plunder:ro
Volume=/srv/quartermaster/plex/data/plex/config:/config:Z
Volume=/srv/quartermaster/plex/data/plex/transcode:/transcode:Z

AddDevice=/dev/dri:/dev/dri
NoNewPrivileges=true
GroupAdd=keep-groups

[Install]
WantedBy=default.target
